body {
  background-color: lightseagreen;
}
.header {
  align-items: center;
  background-color: #201e6485;
  color: lightgrey;
  display: flex;
  font-size: larger;
  height: 2.5em;
  justify-content: center;
  margin-top: 0px;
  width: 100%;
}
.footer {
  align-items: center;
  background-color: #00000085;
  bottom: 0;
  color: lightgrey;
  display: flex;
  font-size: small;
  height: 3.5em;
  justify-content: center;
  position: absolute;
  width: 100%;
}
.login {
  color: antiquewhite;
  border-radius: 1.5%;
  flex-direction: row;
  background-color: #201e6485;
  margin-top: 5%;
  margin-left: 15%;
  width: 70%;
}
.login form {
  align-items: center;
  border-radius: 25%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 300px;
}
.login form label {
  text-align: center;
  font-size: 25px;
  margin: 10px;
  width: 60%;
}
.login form input {
  width: 60%;
}
.login form button {
  box-shadow: inset 0px 1px 0px 0px #ffffff;
  background: linear-gradient(to bottom, #f9f9f9 5%, #e9e9e9 100%);
  background-color: #f9f9f9;
  border-radius: 6px;
  border: 1px solid #dcdcdc;
  display: inline-block;
  cursor: pointer;
  color: #666666;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #ffffff;
  margin-bottom: 30px;
  margin-top: 45px;
  width: 60%;
}

.login form button:active {
  position: relative;
  top: 1px;
}
.login input {
  background-color: rgb(122, 122, 122);
  border-style: none;
  color: whitesmoke;
  font-size: large;
  font-weight: bolder;
  height: 25px;
  text-align: center;
}
